
  .card{
    background: #333; 
    padding: 1em;
    border: solid #333; 
    text-align: center;
}

.grid {
  display: grid;
  /* grid-template-columns: 3fr 3fr; */
  grid-template-columns: repeat(auto-fill, calc(200px + 4em));
  gap: 1em;
  align-items: center; 
  align-content: start;  /* block axis = y axis */
  justify-content: space-between; /* inline axis = x axis */
  
  padding: 1em;
 
}
.buttonsList{
  /* position: sticky; top: 0; */
  display: flex;
  flex-flow: wrap; 
  overflow: hidden;
  margin:1em;
  padding:1em;
  justify-content: space-between;
}

