/* #header{
  position: absolute;
  overflow-y:auto; 
  margin: 2em;
  padding: 2em;
  
} */

/* main {
  display: grid;
  grid-template-rows: auto
                      1fr;
  height: 90vh;
  overflow-y:hidden;
  border: 1em solid orangered; 
  justify-content: center;
  grid-auto-flow: row;
} */
/* .text-center{
  background:#333;
  color: #3a9691; 
  padding: 5px 15px;
} */
.card{
  height:362px;
  background: #343a40; 
  text-align: center;
  color:#fafafa
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(200px + 4em));
  gap: 1em;
  align-items: center; 
  align-content: start;  /* block axis = y axis */
  justify-content: space-between; /* inline axis = x axis */
  padding: 1em;
}
.buttonsList{
  position:relative;
  
  display: flex;
  flex-flow: wrap; 
  overflow: hidden;
  margin-top:1em;

  justify-content: space-between;
}

.cardlink a {
  color:  rgb(17, 119, 119);
  position: relative;
  
}
.cardlink a:hover{
  text-decoration: none;
  color:  #fafafa; 
}

.grid{
  /* overflow: auto;  */
  /* margin:2em;  */
  overflow-y:auto;
   
}

.btn{
  text-transform:capitalize;
  text-decoration: none;
  color:#ffffff;
  background-color: #343a40;	
  border-radius: 100%;
  width:7em;
  height:7em;
  margin:1em;
  font-size:1.2em;
  }


.btn:hover{
  color: rgb(17, 119, 119);
}

.container{
  /* padding: 1.5em; */
   
  position: relative;
  justify-content: center;
  margin-top:5em;
  max-width: 100vw;
  align-items: stretch;
  margin-right: 0;
  margin-left: 0;
}
.big-image {
  /* height: 100%; */
  /* width: 100vw; */
  /* position: absolute; */
  /* background-size: cover; */
  background-position: 50% 50%;
  background-image: url("/static/images/gab-pili-hcykktXYK0w-unsplash.jpg");
  
}

.overlay {
  /* position: relative; */
  height: 500px;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
