
.container{
    margin:35px auto;
    padding:28px;
    max-width: 660px;
    border:0;
    box-sizing: border-box;
    display: block;
    text-align: left;
    align-items: left; 
    align-content: start;  /* block axis = y axis */
    justify-content:left; /* inline axis = x axis */
    border: solid 0.09em blanchedalmond; 
    border-radius: 1em;
}

.recipes-form__section{
    text-rendering: auto;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    padding: 14px 0 21px 0;
    border-bottom: 1px solid #c3c3c3;
    text-align: left;
}
.recipes-form__row{
    position:relative;
}
.forminput {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    
}
 .container h1{
    text-align: center;
}


