
.form-container{
     margin:35px auto;
    
    border:0;
    /* box-sizing: border-box; */
    text-align: left;
    align-items: center; 
    align-content: start;  /* block axis = y axis */
    justify-content:left; /* inline axis = x axis */
    border: solid 0.3em #343a40; 
    border-radius: 1em;
    margin:6em auto;
    background: #c3c3c3;
    height:100vh;
    display:inline-block;
}

/* .recipes-form__section{
    text-rendering: auto;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    border-bottom: 0.5px solid #c3c3c3;
    text-align: left;
}
.recipes-form__row{
    position:relative;
} */
.forminput {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: 500;
    background: #343a40;
    color: #c3c3c3;
    width: 100%;
    height: 45px;
    padding: 10px 12px;
    margin-bottom: 1em;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 1px;
    outline: none;
    font-family: inherit;
    appearance: none;
    
}
 .container h1{
    text-align: center;
    font-size: 2em;
}

.formbtn{
    background-color: #343a40;
    border: none;
    color: #c3c3c3;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    font-weight: bold; 
    margin-top: 1em;
    padding: 0.5em;
  }
#user-card{
    height:100%;
    color: #000;
}

#user-card{ 
    width:100%
}

.list-group-item{
    background-color: #343a40;
    border-bottom: solid 0.05em #c3c3c3;
    margin: 1px 1px;
}
