body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/gab-pili-hcykktXYK0w-unsplash.jpg") ;
  -webkit-background-size: cover;
	background-size: cover; 
  position: relative;
  height: 100vh; 
  color: #C3C3C3;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Source Serif Pro', serif;
  font-size: 1.4em;
}

#logo{
  margin: 0.05em 0.7em;
  float: left; 
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: none;
  margin: 1em 1em;
  
}
ul.nav{
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
}
.navLitem , .navLitem h1{
  /* flex: auto; */
  display: block;
  color: #C3C3C3;
  margin: 0.7em 3em;
  text-decoration: none;
 
}

.link{
  color: #C3C3C3;
}
.link:hover{
  text-decoration: none;
  color:  #3a9691;
}

.welcome-text {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  justify-content : center;
}
.welcome-text h1 {
	text-align: center;
	color: #3a9691;
	font-size: 60px;
  margin :0.5em 0.05em ;
}
.welcome-text h1 span {
	color: #c3c3c3;
}
.welcome-text h3{
  text-align: center;
}
.welcome-text a {
	background:#333; 
	color: #c3c3c3;
  text-decoration: none;
  border-radius: 0.50rem;
  margin :0.5em ;
  padding: 0.5em; 
}
.welcome-text a:hover {
	background:#333; 
	color: #3a9691;
	
  /* transition-duration: 0.2s; */	
}

h1{
  font-size: 2rem;
  font-family: 'Dancing Script';
  font-weight: bold;
  color: #3a9691;
}



.footer{
  margin: 0 auto;
  background: none; 
}
.footer *{
  margin: 0 0.5em ;
}
.clearfix {
  padding:1em;
  margin: 2em 0;
  justify-content : center;
}



