body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/gab-pili-hcykktXYK0w-unsplash.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
	background-size: cover; 
  position: relative;
  height: 100vh; 
  color: #C3C3C3;
  /* font-family: 'Dancing Script', cursive;
  font-family: 'Great Vibes', cursive;*/
  /* font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Roboto', sans-serif; */
  font-family: 'Source Serif Pro', serif;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.4em;
}



.navbar{
  list-style-type: none;
  
  padding: 0.5em;
  font-style: none;
  margin: 0.05em 0;
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
}
ul.nav{
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
}
.navLitem , .navLitem h1{
  /* flex: auto; */
  display: block;
  color: #C3C3C3;
  margin: auto 1.2em;
  text-decoration: none;
 
}

.link{
  color: #C3C3C3;
}
.link:hover{
  text-decoration: none;
  color:  #3a9691;
}


#logo{
  /* top | right | bottom | left */
  margin: auto ;
  margin-right: 5em;
  margin-left: 0;
  float: left; 
}
.welcome-text  {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  justify-content : center;
}
.welcome-text h1 {
	/* text-align: center; */
	color: #3a9691;
	font-size: 60px;
  width:344px;
  margin-left: auto;
  margin-right: auto;
}
.welcome-text h1 span {
	color: #c3c3c3;
}

.welcome-text a {
	background:#333; 
	color: #c3c3c3;
  text-decoration: none;
  border-radius: 0.50rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  text-align: center;
  /* position: absolute;
  left: 45%;  */
  justify-content : center; 
}
.welcome-text a:hover {
	background:#333; 
	color: #3a9691;
	
  /* transition-duration: 0.2s; */	
}

h1{
  font-size: 2rem;
  /* font-family: 'Dancing Script'; */
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  color: #3a9691;
}



.footer{
  margin: 0 ;
  background: none; 
}
.footer-icons{
  
  padding: 0;
  font-style: none;
  margin: 0 2em;
  font-family: 'Great Vibes', cursive;
  font-size: 0.5em;
}

.mr-auto{
  color: black;
}
.clearfix {
  padding:1em;
  margin: 2em 0;
  justify-content : center;
}



