body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/gab-pili-hcykktXYK0w-unsplash.jpg") ;
  -webkit-background-size: cover;
	background-size: cover; 
  position: relative;
  height: 100vh; 

  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}
h1{
  font-size: 22px;
  font-weight: bold;
  color: #3a9691;
}

#logoImg{
  margin: 0.05em 2em;
  float: left; 
}

.navigation{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-style: none;
  margin: 1.5em 1em;
}

