{% extends 'base.html'%}
{% block title %} World Recipe {% endblock %}
{% block body %}

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="homepage_container">

      <div class="row" name="header_Row">
          <div class="col-xs-12 col-md-12 col-lg-12">
              <header>this is the header</header>
          </div>
      </div>
      
      <div class="row" name="main_Row">
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <h2> cuisines list</h2>
              </div>
          

              <div class="col-xs-12 col-md-6 col-lg-9">
                  <div class="recipe_cards">
                      <h2>recipes cards</h2>
                  
                  </div>
              </div> 
      </div>      

      <div class="row" name="footer_Row">
          <div class="col-xs-12 col-md-12 col-lg-12">
              <P>This is the footer</P>
          </div> 
      </div>
  
                   
  </div>

</body>
  
  {% endblock %}