{% extends 'base.html'%}
{% block title %} World Recipe {% endblock %}
{% block body %}

<div>
    <form action="/login" method="POST">
      <label> EMAIL </label>
      <input type="text" name="email"> 
      
      <label> PASSWORD </label>
      <input type="text" name="password">

      <input type="submit" value="SIGN IN">
    </form>
</div>
    <form action="/register">
      <label>Don't have an acoount?</label>
      <input type="submit" value="SIGN UP!">

    </form>
<div>

</div>


{% endblock %}