{% extends 'base.html'%}
{% block title %} World Recipe {% endblock %}
{% block body %}
    <div>
        <form action="/register" method="POST">
            <label> USERNAME </label>
            <input type="text" name="username"> 

            <label> EMAIL</label>
            <input type="email" name="email">

            <label> PASSWORD </label>
            <input type="text" name="password">
  
            <input type="submit" value="SIGN UP!">
          </form>
    </div>


{% endblock %}